@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #300da3;
  font-size: 3.25em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  color: #002c66;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #002c66;
  font-size: 1.5em;
}

h4 {
  color: #002c66;
  font-size: 1.25em;
}

p {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  color: #282727;
  font-size: 1.25em;
  text-justify: center;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(15, 28, 85);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a {
  color: rgb(48, 14, 244);
  text-decoration: none;
  margin: 10px;
  font-size: 1.25em;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo img {
  width: 50%;
  height: 10%;
  text-decoration: none;
  font-size: 30px;
  color: #212529;
}

.menus {
  display: flex;
  align-items: center;
  list-style: none;
  height: 5em;
}

.menu-items {
  position: relative;
  font-size: 20px;
  margin: 0 12px; /* Adjust spacing between menu items */
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: #76a5d4;
  text-decoration: none;
  padding: 0.3rem;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: #76a5d4;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items > a,
.menu-items button {
  text-align: left;
  font-size: 20px;
}

.menu-items a:hover,
.menu-items button:hover {
  font-size: 25px;
  color: #050235cc;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.2em;
  vertical-align: 0.03em;
  border-top: 0.33em solid;
  border-right: 0.29em solid transparent;
  border-left: 0.29em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #050235cc;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.helpline-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Image styling with responsiveness */
.home-image {
  max-width: 100%;
  padding: 20px;
  text-align: center;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 3px; /* Adjust the spacing between "Create Post" and "Logout" as needed */
}

.LogOut-Button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 5em;
  font-size: 20px;
}

button span {
  margin-left: 3px;
}

.footer {
  background-color: rgb(0, 0, 51);
  color: whitesmoke;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
}
